extends ./layout

block content
    div.mb-5
        form
            label(for='course', class='form-label') Поиск по курсам
            input(type='search', value=searchParam || '', autofocus=true, class='form-control', id='course', name='courses', placeholder='Название курса')

    div
        h2 Курсы
        each course in courses
            a(href=routes.course(course.id), class='fs-3' )= course.title
            p= course.description

